.toggle-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
  }

  .is-toggled {
    background-color: rgb(230, 230, 230);
    color: black;
  }